In [7]:
#python challenge for budget data 
import os 
import pandas as pd 
import numpy as np
os.getcwd()

'/Users/jcook/00_Portfolio/Python-Analysis/PyBank'

In [9]:
budget_data = '/Users/jcook/00_Portfolio/Python-Analysis/PyBank/Resources/budget_data.csv'

budget_df = pd.read_csv(budget_data)

budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [10]:
#calculate the total number of months in the data
total_months = budget_df['Date'].count()
print(total_months)

86

In [11]:
#calcluate the net total amount of profits and losses over the entire period 
net_total = budget_df['Profit/Losses'].sum()
print(net_total)

38382578

In [12]:
#calculate the average of the changes in 'profits/losses' over the entire period 
average = budget_df['Profit/Losses'].mean()
print(average)

446309.0465116279

In [13]:
#calculate the greatest increase in profits (date and amount) over the entire peroid 
max_profit = budget_df.max()
print(max_profit)

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [14]:
#The greatest decrease in losses (date and amount) over the entire period
min_losses = budget_df.min()
print(min_losses)

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [15]:
#print statement to terminal with analysis results 


print("Finacial Analysis")
print("---------------------------")
print("Total Months: ", total_months)
print("Total: $", net_total)
print("Average Change: $", average)
print("Greatest Increase in Profits: ", max_profit)
print("Greatest Decrease in Profits: ", min_losses)



final_data = [['Total Months: $', total_months],
             ['Total: $', net_total],
             ['Average Change: $', average],
             ['Greatest Increase in Profits: $', max_profit],
             ['Greatest Decrease in Profits: $', min_losses]]
final_df = pd.DataFrame(final_data, columns = ['Finacial Analysis', '$'])

Finacial Analysis
---------------------------
Total Months:  86
Total: $ 38382578
Average Change: $ 446309.0465116279
Greatest Increase in Profits:  Date             Sep-2016
Profit/Losses     1170593
dtype: object
Greatest Decrease in Profits:  Date             Apr-2010
Profit/Losses    -1196225
dtype: object